.game-board {
  display: grid;
}

.grid-item {
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  background-color: transparent;
}

.active-grid-item {
  background-color: var(--snake-color);
}

.fruit {
	display: none;
}

.playArea-Container {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.playArea {
	border: 5px solid black;
	width: 665px;
	height: 620px;
}

.gameOver {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  font-family: 'VT323', monospace;
	font-size: 5rem;
  text-align: center;
}

.gameOver-dual {
  display: flex;
  align-items: center;
  font-size: 4rem;
  column-gap: 3rem;
  white-space: nowrap;
}

.gameOver-dual--right {
  border: 2px solid white;
  padding: 1rem;
}

.gameOver-dual--right input {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  width: 15rem;
}

.gameOver-dual--right button {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 0.5rem;
}

.gameOver-dual--right button:hover {
  background-color: white;
  color: black;
}

.gameOver-dual--right ul {
  text-align: left;
  padding: 0 0 0 1rem;
  margin: 1rem 0;
}

.gameOver-dual--right li {
  font-size: 1.6rem
}

.gameOver h2 {
  margin: 0;
}

.playButton {
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background: #502c7b;
	border: 2px solid white;
	padding: 10px;
	font-size: 0.9em;
	color: white;
	box-shadow: 4px 4px 0px 0px white;
	font-family: 'Press Start 2P', cursive;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.scoreBox {
  display: flex;
  column-gap: 2rem;
  font-size: 1.5rem;
  font-family: 'VT323', monospace;
  letter-spacing: .5rem;
  color: white;
}

.subtitle{
  font-size: 3rem;
  margin: 0;
  padding: 0;
}