.link {
  display: flex;
  align-items: center;
  padding: .5rem;
}

.link:hover,
.link:active{
  background-color: var(--primary-color);
}
.link img {
  height: 3.2rem;
  width: 3.2rem;
}

.link h3 {
  margin-left: .5rem;
  color: #2C4582;
  font-weight: 400;
  margin-bottom: .35rem;
}

.bold {
  font-weight: bold !important;
}

.link:hover h3,
.link:active h3{
  color: white;
}